html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-family: Roboto, sans-serif;
    display: flex;
    flex-direction: column;
}

.hero {
    background-color: #1f2937;
    display: flex;
    flex-direction: column;
    margin: 10px 10px 0px 10px;
    padding: 8px 24px 8px 24px;
}

.headerContainer {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.headerLogo {
    font-size: 24px;
    color: #f9faf8;
    margin: 0;
    padding: 0;
}

.headerNav {
    color: e5e7eb;
    display: flex;
    gap: 16px;
    margin: 0;
    padding: 0;
}

ul.headerNav {
    font-size: 18px;
    color: #e5e7eb;
}

ul {
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
}


.heroInfo {
    display: flex;
    justify-content: space-between;
    height: auto;
}

.heroInfoContainer {
    width: 450px;
    margin-bottom: 50px;
}

h1.heroInfo {
    font-size: 48px;
    color: #f9faf8;
    font-weight: extra-bold;
    margin: 0;
    padding: 0;
}

p.heroInfo {
    font-size: 18px;
    color: #e5e7eb;
}

button.heroInfo {
    background-color: #3882f6;
    color: #f9faf8;
    border-radius: 4px;
    border: none;
    padding: 4px 16px;
}

.heroImage {
    width: auto;
    height: 200px;
}



.quote {
    background-color: #e5e7eb;
    display: flex;
    flex-direction: column;
    margin: 0px 10px 0px 10px;
    padding: 24px 48px 24px 48px;
}

p.quote {
    margin: 0;
    padding: 0;
    font-size: 36px;
    font-style: italic;
    font-weight: 300;
    color: #1f2937;
}

p.attribution {
    margin: 0;
    padding: 0;
    font-size: 24px;
    font-weight: 600;
    font-style: bold;
    text-align: end;
}