html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-family: Roboto, sans-serif;
    display: flex;
    flex-direction: column;
}

a, a:visited {
    color: #e5e7eb;
    text-decoration: none;
}


.hero {
    background-color: #1f2937;
    display: flex;
    flex-direction: column;
    margin: 10px 10px 0px 10px;
    padding: 16px 48px 8px 48px;
}

.headerContainer {
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
}

.headerLogo {
    font-size: 24px;
    color: #f9faf8;
    margin: 0;
    padding: 0;
}

.headerNav {
    color: #e5e7eb;
    display: flex;
    gap: 16px;
    margin: 0;
    padding: 0;
}

ul.headerNav {
    font-size: 18px;
    color: #e5e7eb;
}

ul {
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
}


.heroInfo {
    display: flex;
    justify-content: space-between;
    height: auto;
}

.heroInfoContainer {
    width: 450px;
    margin-bottom: 50px;
    padding-right: 25px;
}

h1.heroInfo {
    font-size: 48px;
    color: #f9faf8;
    font-weight: extra-bold;
    margin: 0;
    padding: 0;
}

p.heroInfo {
    font-size: 18px;
    color: #e5e7eb;
}

button.heroInfo {
    background-color: #3882f6;
    color: #f9faf8;
    border-radius: 4px;
    border: none;
    padding: 4px 16px;
    font-size: 18px;
}

.heroImage {
    max-width: auto;
    height: 250px;
    object-fit: contain;
}


.infoblock {
    display: flex;
    flex-direction: column;
    margin: 0px 10px 0px 10px;
    padding: 24px 48px 24px 48px;
    justify-content: center;
    align-items: center;
}

.infoblockwidgets {
    display: flex;
    margin: 0;
    padding: 0;
    gap: 16px 24px;
}

.widget {
    text-align: center;
}

img.widget {
    border-style: solid;
    border-color: #3882f6;
    width: 100px;
    height: 100px;
    border-radius: 16px;
    object-fit: cover;
}

.quote {
    background-color: #e5e7eb;
    display: flex;
    flex-direction: column;
    margin: 0px 10px 0px 10px;
    padding: 96px 64px 96px 64px;
}

p.quote {
    margin: 0;
    padding: 0;
    font-size: 36px;
    font-style: italic;
    font-weight: 300;
    color: #1f2937;
}

p.attribution {
    margin: 0;
    padding: 0;
    font-size: 24px;
    font-weight: 600;
    font-style: bold;
    text-align: end;
}

.cta {
    margin: 0px 10px 0px 10px;
    color: #f9faf8;
}

.ctaContainer {
    background-color: #3882f6;
    border-radius: 16px;
    margin: 50px;
    padding: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1.cta {
    font-size: 24px;
}

.ctaLeft, .ctaRight {
    margin: 0;
    padding: 0;
}



button.cta {
    border-style: solid;
    border-color: #f9faf8;
    border-radius: 4px;
    color: #f9faf8;
    background-color: #3882f6;
    font-size: 18px;
    padding: 4px 16px;
}

footer {
    text-align: center;
    background-color: #1f2937;
    color: #f9faf8;
    padding: 25px;
    margin: 0px 10px 0px 10px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}